<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin HomePage</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3">Edit Flight Details</h1>
        <h3 class="text-sm-end"> Welcome Admin Mr. <%= sampleData.admin_username %>
                </h2>

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <a href="/project" class="btn btn-danger  float-end">Logout</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-header">
                        <% if(message.success) { %>
                            <div class="alert alert-success">
                                <%= message.success %>
                            </div>
                            <% } %>

                                <% if(message.fail) { %>
                                    <div class="alert alert-danger">
                                        <%= message.fail %>
                                    </div>
                                    <% } %>
                    </div>


                    <form method="POST" action="/project/admin_login/admin">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label>Enter Flight Number</label>
                                        <input type="number" name="num" id="num" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-header">
                            Enter new details for the Flight :
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label>Departure Time</label>
                                        <input type="text" name="dept" id="dept" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label>Arrival Time</label>
                                        <input type="text" name="arr" id="arr" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label>Fare</label>
                                        <input type="number" name="fare" id="fare" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="mb-3">
                                    <input type="submit" name="submit_button" class="btn btn-primary"
                                        Value="Confirm Changes" />
                                </div>
                            </div>
                        </div>
                </div>
                </form>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>