<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <!-- Mô tả giới thiệu -->
  <p>
    Chào mừng đến với <%= title %>. Hãy trải nghiệm chuyến đi của bạn cùng chúng tôi!
  </p>
</body>

</html>